<body style="background: #f4c4f3;
background: -webkit-linear-gradient(to left, #f4c4f3 , #fc67fa);
background: linear-gradient(to left, #f4c4f3 , #fc67fa);
font-family: Verdana, Geneva, sans-serif;">
<center>

  <h1 style="font-weight: 600">Welcome to Z-List Celebrity Deathmatch!</h1>
  <h2 style="font-weight: 200">Where wastemen(and ladies) battle for the limelight!</h2>
  <h3 style="font-weight: 200">Presented by the one and only, <b>Big Mandy Dingle</b></h3>
  <img src='https://keyassets-p2.timeincuk.net/wp/prod/wp-content/uploads/sites/30/2016/03/Lisa-Riley-Strictly-Come-Dancing-GIF.gif', style= "border-radius:25px">
  <form action="/names", method='post'><br />
    <label for="Z-list 1">
      Name of Non-Celeb 1
      <input type='text' name='player_1_name'>
    </label><br />
    <label for="Z-list 2">
      Name of Non-Celeb 2
      <input type='text' name='player_2_name'>
    </label><br /><br />
    <input type="image" src="http://vignette1.wikia.nocookie.net/emmerdale/images/f/fe/Mandy_Dingle.png/revision/latest?cb=20160329203241" value="Submit">
  </form>
</center>
</body>
