<h1>Welcome to Z-List Celebrity Deathmatch!!!!<h2>
  <h2>Where wastemen(and ladies) battle for the limelight!<h2>
<form action="/names", method='post'>
  <label for="Z-list 1">
    Z-list 1
    <input type='text' name='player_1_name'>
  </label>
  <label for="Z-list 2">
    Z-list 2
    <input type='text' name='player_2_name'>
  </label>
  <input type='submit' value='Submit'>
</form>
